html,
body{
  height: 100%;
}
body{
  color: $default;
  background-color: #f7f7f7;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  @extend %rubik-500;
}

.main{
  flex-grow: 1;
}

.container{
  max-width: 1800px;
  margin: 0 auto;
  padding: 15px 0;
}

.container1{
  max-width: 1170px;
  margin: 0 auto;
  padding: 15px 0;
}
