$accent: #436372;
$default: #243f4d;
$title: #191919;
$fon: #fcd7b6;
$footer: #7b7b7b;


%dmsans-700{
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
}

%dmsans-700{
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
}

%dmsans-400{
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
}

%rubik-500{
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}

%rubik-400{
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

%btn{
    background-color: $accent;
    color: #fff;
    @extend %rubik-500;
    padding: 24px 100px 24px 28px;
    text-decoration: none;
    font-size: 15px;
    line-height: 12px;
    cursor: pointer;
}