@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
  padding: 50px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
  }
  &__title{
    position: absolute;
    margin-left: 60px;
    font-size: 36px;
    line-height: 35px;
    color: $accent;
  }
}

.menu{
  margin-left: 155px;
  &__list{
    display: flex;
  }
  &__list-item + .menu__list-item{
    padding-left: 35px;
  }
  &__list-link{
    font-size: 15px;
    line-height: 12px;
    text-decoration: none;
    color: $accent;
    @extend %rubik-500;
  }
}

.user-nav{
  display: flex;
  .page-link1{
    background-color: #edf1f4;
    padding: 20px;
    border-radius: 50%;
    margin-right: 15px;
  }
  .user-nav__link-content{
    display: flex;
  }
  .page-link2{
    background-color: $fon;
    padding: 16px;
    border-radius: 20%;
    margin-right: 15px;
  }
  .page1{
    padding-top: 4px;
    padding-right: 50px;
    padding-left: 33px;
  }
  .user-nav__num-zero{
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    top: 12px;
    right: 113px;
    text-align: center;
    line-height: 16px;
  }
  .page-images{
    padding-right: 35px;
    padding-top: 4px;
  }
  .page2{
    padding-right: 2px;
  }
  .page-link3{
    background-color: #a3bbc8;
    padding: 16px;
    border-radius: 50%;
  }
  &__link{
    font-size: 10px;
    line-height: 27px;
    color: $default;
    text-decoration: none;
    position: relative;
  }
  &__link + .user-nav__link{
    padding-left: 20px;
  }
  &__num{
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    top: 14px;
    right: 43px;
    text-align: center;
    line-height: 16px;
  }
}

.footer__top{
  padding: 80px 0;
  border-bottom: 1px solid #a3bbc8;
  display: flex;
  justify-content: space-between;
  &-contact{
    width: 184px;
    margin-right: 30px;
  }
  &-nav{
    width: 170px;
    margin-right: 70px;
  }
  &-item__form{
    max-width: 470px;
  }
  &-img{
    margin-bottom: 22px;
  }
  &-adress,
  &-phone,
  &-email{
    text-decoration: none;
    color: $footer;
    line-height: 32px;
  }
  &-title{
    margin-bottom: 9px;
    font-size: 16px;
    line-height: 21px;
    @extend %dmsans-700;
  }
  &-link{
    font-size: 14px;
    line-height: 32px;
    text-decoration: none;
    color: $footer;
    @extend %rubik-400;
  }
  &-text{
    padding: 15px 0;
    color: $footer;
  }
  &-form__input{
    width: 170px;
    color: #234969;
    padding: 15px 16px;
    background-color: #fef7f0;
    border: none;
    font-size: 12px;
    &::placeholder{
      color: #234969;
    }
  }
  &-form__btn{
    border: none;
    background-color: #a3bbc8;
    color: #fff;
    padding: 14px 20px 14px 16px;
    cursor: pointer;
  }
}

.footer__bottom{
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  &-copy{
    color: $footer;
    font-size: 14px;
    line-height: 32px;
  }
  &-list{
    display: flex;
    list-style: none;
  }
  &-items + .footer__bottom-items{
    margin-left: 30px;
  }
  &-link{
    text-decoration: none;
    color: $footer;
    font-size: 14px;
    line-height: 32px;
  }
}

.top-slider{
  &__inner{
    background-color: $fon;
  }
  &__item{
    display: flex !important;
    justify-content: space-around;
  }
  &__title{
    margin-top: 175px;
    @extend %rubik-500;
    max-width: 500px;
    font-size: 72px;
    line-height: 70px;
    margin-bottom: 40px;
  }
  &__text{
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 30px;
    color: $accent;
    max-width: 370px;
    @extend %rubik-400;
  }
  &__link{
    @extend %btn;
  }
  &__img{
    padding-top: 70px;
  }
  .top-slider__images{
    display: inline;
    padding-left: 60px;
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    li{
      button{
      margin-top: 50px;
      margin-bottom: 50px;
      margin-left: 12px;
      padding: 0;
      font-size: 10px;
      background-color: #fde3cc;
      line-height: 9px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: none;
      color: $default;
      cursor: pointer;
      transition: all .2s;
      &:hover{
        background-color: #fff;
       }
      }
    }
  }
}

.info{
  &__inner{
    background-color: #fef7f0;
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0;
  }
  &__item{
    display: flex;
  }
  &__content{
    margin-left: 25px;
  }
  &__title{
    font-size: 18px;
    line-height: 40px;
    color: #414141;
    @extend %dmsans-700;
  }
  &__text{
    font-size: 16px;
    line-height: 30px;
    color: #585858;
    @extend %dmsans-400;
  }
}

.products{
  padding: 80px 0 90px;
  &__title{
    text-align: center;
    @extend %dmsans-700;
    font-size: 36px;
    color: $title;
    margin-bottom: 40px;
  }
  &__menu{
    margin-bottom: 85px;
    display: flex;
    justify-content: center;
    margin-right: 33px;
  }
  &__item{
    list-style: none;
    margin-left: 30px;
  }
  &__link{
    text-decoration: none;
    font-size: 16px;
    color: #8b8b8b;
    transition: all .2s;
    &:hover{
      color: #1a1a1a;
    }
  }
  &__items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px 30px;
  }
}

.products-inner{
  text-align: center;
  max-width: 270px;
  &__img-box{
    background-color: #fff;
    position: relative;
    height: 370px;
    overflow: hidden;
  }
  &__link-box{
    transition: all .2s;
    position: absolute;
    text-align: center;
    left: 51px;
    bottom: 157px;
    transform: translateY(700%);
  }
  &__link{
    padding: 14px 12px;
    background-color: #fff;
    border-radius: 50%;
    margin-left: 7px;
    transition: all .3s;
    &:hover{
      background-color: #a3bbc8;
    }
  }
  &__link:hover{
    path{
      fill: #fff;
    }
  }
  &__svg{
    margin-bottom: -3px;
    margin-left: 1px;
  }
  &__images{
    padding-top: 30px;
    object-fit: cover;
    margin-left: 35px;
  }
  &:hover{
    .products-inner__link-box{
      transform: translateY(0)
    }
  }
  .img2{
    margin-left: 60px;
  }
  .img3{
    margin-top: 37px;
  }
  .img4{
    margin-top: 69px;
  }
  .img5{
    margin-top: 35px;
    margin-left: 16px;
  }
  .img6{
    margin-top: 29px;
    margin-left: 16px;
  }
  .img7{
    margin-top: 37px;
    margin-left: 16px;
  }
  .img8{
    margin-top: 46px;
    margin-left: 19px;
  }
  &__title{
    @extend %dmsans-500;
    color: $default;
    font-size: 16px;
    line-height: 20px;
    margin-top: 60px;
  }
  .title1{
    margin-top: 52px;
  }
  .title2{
    margin-top: 67px;
  }
  &__new-price{
    @extend %dmsans-700;
    font-size: 16px;
    color: #a3bbc8;
  }
}

.products-light{
  padding: 200px 0 100px;
  &__item{
    display: flex;
    justify-content: space-around;
  }
  &__items{
    display: flex;
    justify-content: center;
    width: 870px;
    height: 390px;
    background-color: #feefe2;
    position: relative;
  }
  &__img{
    position: absolute;
    left: 0;
    margin-top: -95px;
    margin-left: 90px;
  }
  .light__img{
    margin-left: 180px;
  }
  &__content{
    margin-left: 160px;
    margin-top: 93px;
    max-width: 350px;
  }
  .page-content{
    margin-top: 65px;
    margin-left: 370px;
  }
  &__title{
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 30px;
    @extend %dmsans-700;
  }
  &__text{
    margin-bottom: 35px;
    font-size: 16px;
    line-height: 30px; 
  }
  &__link{
    background-color: #feefe2; 
    color: $accent;
    border: 2px solid #b3b7b5;
    padding: 23px 86px 24px 18px;
    border-radius: 7%;
  }
}

.desing{
  padding: 100px 0 120px;
  background-color: #fff;
  &__item{
    background-color: #f8f8f8;
    width: 370px;
    height: 250px;
  }
  &__content{
    padding: 45px 0 0 25px;
  }
  &__title{
    width: 150px;
    font-size: 20px;
    @extend %dmsans-700;
    color: #191919;
  }
  &__images{
    display: flex;
    justify-content: space-between;
  }
  &__text{
    margin-left: 25px;
    color: #a3bbc8;
    @extend %dmsans-700;
  }
  .page-desing__text{
    margin-left: 25px;
  }
  &__img{
    margin-top: -40px;
    padding-right: 70px;
  }
  .page-desing__img{
    margin-top: -60px;
    padding-right: 40px;
  }
  &__inner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px 30px;
  }
}

.video{
  background-image: url('../images/video/foto.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 500px;
  &__content{
    max-width: 100%;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}

.articles{
  background-color: #fef7f0;
  padding: 120px 0 90px;
  &__content{
    display: flex;
    justify-content: space-between;
    padding-bottom: 45px;
  }
  &__title{
    font-size: 36px;
    color: #191919;
    @extend %dmsans-700;
  }
  &__link{
    font-size: 16px;
    color: #262626;
    @extend %dmsans-700;
  }
  &__item{
    display: flex;
    justify-content: space-between;
  }
  &__items{
    width: 370px;
    height: 420px;
    background-color: #fff;
    position: relative;
  }
  &__items-link{
    position: absolute;
    margin-top: -17px;
    margin-left: 41px;
    color: #fff;
    background-color: #a3bbc8;
    width: 80px;
    border-radius: 20px;
    text-align: center;
  }
  &__text{
    width: 350px;
    padding-top: 25px;
    padding-left: 30px;
    font-size: 18px;
    @extend %dmsans-500;
    color: #262626;
    margin-bottom: 7px;
  }
  &__border{
    border-bottom: 2px solid #e0e0e0;
    width: 315px;
    margin-left: 28px
  }
  &__info{
    padding-top: 7px;
    display: flex;
    padding-left: 35px;
  }
  &__text-info{
    font-size: 12px;
    line-height: 30px;
    color: #222933;
    margin-right: 30px;
  }
  &__contacts{
    padding-top: 90px;
  }
  &__contacts-images{
    margin-left: -35px;
  }
  &__contacts-img{
    display: inline-block;
    margin-left: 90px;
  }
}

.top{
  background-color: #edf1f4;
  text-align: center;
  &__title{
    font-size: 36px;
    line-height: 24px;
    color: #222933;
    margin-bottom: 18px;
    padding-top: 35px;
    @extend %rubik-400;
  }
  .breadcrumbs{
    &__list{
      display: flex;
      justify-content: center;
      padding-bottom: 30px;
    }
    &__link{
      font-size: 14px;
      line-height: 24px;
      @extend %rubik-400;
      color: #737980;
    }
    .page-link::after{
      content: '/';
      margin-left: 7px;
      margin-right: 7px;
    }
  }
}

.modal{
  padding-top: 120px;
  max-width: 470px;
  margin: 0 auto 115px;
  &__label{
    display: block;
    @extend %rubik-400;
    font-size: 14px;
    color: #436372;
  }
  &__input{
    margin-top: 5px;
    margin-bottom: 30px;
    display: block;
    width: 100%;
    border: 2px solid #eaeaea;
    height: 60px;
    padding: 0 15px;
  }
  &__button{
    padding: 18px 212px;
    font-size: 18px;
    border: none;
    color: #fff;
    background-color: #a3bbc8;
    @extend %rubik-500;
    margin-bottom: 35px;
  }
  &__password{
    margin-left: 219px;
    font-size: 14px;
    @extend %rubik-400;
    color: #436372;
  }
  &__border{
    margin-top: 30px;
    margin-bottom: 20px;
    border: 1px solid #eaeaea;
  }
  &__problem{
    display: block;
    margin-bottom: 30px;
    text-align: center;
    font-size: 14px;
    @extend %rubik-400;
    color: #436372;
  }
  &__accoutn{
    padding: 20px 150px;
    border: 2px solid #a3bbc8;
    color: $default;
    font-size: 18px;
    @extend %rubik-500;
  }
}

.company{
  background-color: #fef7f0;
  padding-bottom: 100px;
}

.house{
  padding: 120px 0;
  &__content{
    display: flex;
  }
  &__pagecontent{
    width: 570px;
    padding: 90px 0 50px 80px;
  }
  &__items{
    display: flex;
    margin-bottom: 55px;
  }
  &__title{
    font-size: 140px;
    color: #a3bbc8;
  }
  .house__menu{
    margin-top: -16px;
    margin-left: 30px;
  }
  &__link{
    font-size: 16px;
    color: #243f4d;
    @extend %rubik-400;
  }
  &__mission{
    width: 550px;
  }
  &__mission-title{
    @extend %dmsans-700;
    margin-bottom: 50px;
    font-size: 36px;
    color: $default;
  }
  &__mission-text{
    font-size: 16px;
    line-height: 30px;
    color: $default;
    @extend %rubik-400;
    width: 570px;
  }
  &__border{
    border: 1px solid #e6eaf0;
    margin-top: 70px;
    margin-bottom: 30px;
    width: 515px;
  }
  &__mission-proect{
    display: flex;
    justify-content: space-between;
  }
  &__mission-item{
    display: flex;
  }
  &__mission-img{
    margin-right: 20px;
  }
  &__mission-proect__title{
    font-size: 36px;
    @extend %dmsans-700;
    color: $default;
  }
  &__mission-proect__text{
    color: #4c4c4c;
    font-size: 16px;
    @extend %dmsans-700;
  }
  &__mission-proect__border{
    padding-left: 5px;
    padding-right: 15px;
    border-right: 1px solid #e6eaf0;
    height: 80px;
  }
}

.achievements{
  background-color: #fcd7b6;
  padding: 90px 0 85px;
  &__items{
    display: flex;
    justify-content: space-around;
  }
  &__img{
    margin-left: 55px;
  }
  .page-achievements__img{
    margin-left: 45px;
  }
  .page-achievements__img1{
    margin-left: 45px;
  }
  .page-achievements__img2{
    margin-left: 35px;
  }
  &__content{
    margin-top: 25px;
    text-align: center;
  }
  .page-item__achievements{
    margin-top: 18px;
  }
  .page-item__achievements1{
    margin-top: -4px;
  }
  &__title{
    font-size: 36px;
    line-height: 32px;
    @extend %dmsans-700;
    color: $default;
    margin-bottom: 16px;
  }
  &__text{
    font-size: 18px;
    line-height: 32px;
    @extend %dmsans-700;
    color: $default;
  }
}

.team{
  padding: 120px 0;
  &__inner{
    display: flex;
  }
  &__content{
    width: 300px;
    margin-right: 110px;
  }
  &__title{
    margin-bottom: 40px;
    font-size: 36px;
    @extend %dmsans-700;
    color: $default;
  }
  &__text{
    font-size: 16px;
    line-height: 30px;
    @extend %rubik-400;
    margin-bottom: 45px;
  }
  &__link{
    font-size: 15px;
    padding: 20px 70px 20px 25px;
    color: #fff;
    @extend %rubik-400;
    background-color: #a3bbc8;
    border-radius: 5px;
  }
  &__images{
    position: relative;
  }
  &__contents{
    background-color: #fff;
    width: 325px;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    position: absolute;
    margin-top: -47px;
  }
  &__contents-title{
    @extend %dmsans-700;
    font-size: 22px;
    color: #436372;
  }
  &__contents-text{
    font-size: 16px;
    color: #565872;
    @extend %rubik-400;
  }
  &__contents-link{
    display: inline-block;
  }
  &__contents-icon{
    padding-top: 12px;
  }
  &__contents-link{
    background-color: #f6f6f6;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  &__contents-images{
    padding-left: 10px;
    padding-top: 10px;
  }
  &__items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 114px 30px;
  }
}


@import 'media';
