@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header{
  padding: 50px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
  }
  &__title{
    position: absolute;
    margin-left: 60px;
    font-size: 36px;
    line-height: 35px;
    color: $accent;
  }
}

.menu{
  margin-left: 110px;
  &__list{
    display: flex;
  }
  &__list-item + .menu__list-item{
    padding-left: 35px;
  }
  &__list-link{
    font-size: 15px;
    line-height: 12px;
    text-decoration: none;
    color: $accent;
    @extend %rubik-500;
  }
}

.user-nav{
  display: flex;
  .page-link1{
    background-color: #edf1f4;
    padding: 20px;
    border-radius: 50%;
    margin-right: 15px;
  }
  .page-link2{
    background-color: $fon;
    padding: 16px;
    border-radius: 50%;
    margin-right: 15px;
  }
  .page1{
    padding-top: 4px;
    padding-right: 1px;
  }
  .page2{
    padding-right: 2px;
  }
  .page-link3{
    background-color: #a3bbc8;
    padding: 16px;
    border-radius: 50%;
  }
  &__link{
    font-size: 10px;
    line-height: 27px;
    color: $default;
    text-decoration: none;
    position: relative;
  }
  &__link + .user-nav__link{
    padding-left: 20px;
  }
  &__num{
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    top: 12px;
    right: 9px;
    text-align: center;
    line-height: 16px;
  }
}

.footer__top{
  padding: 80px 0;
  border-bottom: 1px solid #a3bbc8;
  display: flex;
  justify-content: space-between;
  &-contact{
    width: 184px;
    margin-right: 30px;
  }
  &-nav{
    width: 170px;
    margin-right: 70px;
  }
  &-item__form{
    max-width: 470px;
  }
  &-img{
    margin-bottom: 22px;
  }
  &-adress,
  &-phone,
  &-email{
    text-decoration: none;
    color: $footer;
    line-height: 32px;
  }
  &-title{
    margin-bottom: 9px;
    font-size: 16px;
    line-height: 21px;
    @extend %dmsans-700;
  }
  &-link{
    font-size: 14px;
    line-height: 32px;
    text-decoration: none;
    color: $footer;
    @extend %rubik-400;
  }
  &-text{
    padding: 15px 0;
    color: $footer;
  }
  &-form__input{
    width: 170px;
    color: #234969;
    padding: 15px 16px;
    background-color: #fef7f0;
    border: none;
    &::placeholder{
      color: #234969;
    }
  }
  &-form__btn{
    border: none;
    background-color: #a3bbc8;
    color: #fff;
    padding: 14px 20px 14px 16px;
  }
}

.footer__bottom{
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  &-copy{
    color: $footer;
    font-size: 14px;
    line-height: 32px;
  }
  &-list{
    display: flex;
    list-style: none;
  }
  &-items + .footer__bottom-items{
    margin-left: 30px;
  }
  &-link{
    text-decoration: none;
    color: $footer;
    font-size: 14px;
    line-height: 32px;
  }
}

@import 'media';
