@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
  padding: 50px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
  }
  &__title{
    position: absolute;
    margin-left: 60px;
    font-size: 36px;
    line-height: 35px;
    color: $accent;
  }
}

.menu{
  margin-left: 145px;
  &__list{
    display: flex;
  }
  &__list-item + .menu__list-item{
    padding-left: 35px;
  }
  &__list-link{
    font-size: 15px;
    line-height: 12px;
    text-decoration: none;
    color: $accent;
    @extend %rubik-500;
  }
}

.user-nav{
  display: flex;
  .page-link1{
    background-color: #edf1f4;
    padding: 20px;
    border-radius: 50%;
    margin-right: 15px;
  }
  .user-nav__link-content{
    display: flex;
  }
  .page-link2{
    background-color: $fon;
    padding: 16px;
    border-radius: 20%;
    margin-right: 15px;
  }
  .page1{
    padding-top: 4px;
    padding-right: 50px;
    padding-left: 33px;
  }
  .user-nav__num-zero{
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    top: 12px;
    right: 113px;
    text-align: center;
    line-height: 16px;
  }
  .page-images{
    padding-right: 35px;
    padding-top: 4px;
  }
  .page2{
    padding-right: 2px;
  }
  .page-link3{
    background-color: #a3bbc8;
    padding: 16px;
    border-radius: 50%;
  }
  &__link{
    font-size: 10px;
    line-height: 27px;
    color: $default;
    text-decoration: none;
    position: relative;
  }
  &__link + .user-nav__link{
    padding-left: 20px;
  }
  &__num{
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    top: 14px;
    right: 43px;
    text-align: center;
    line-height: 16px;
  }
}

.footer__top{
  padding: 80px 0;
  border-bottom: 1px solid #a3bbc8;
  display: flex;
  justify-content: space-between;
  &-contact{
    width: 184px;
    margin-right: 30px;
  }
  &-nav{
    width: 170px;
    margin-right: 70px;
  }
  &-item__form{
    max-width: 470px;
  }
  &-img{
    margin-bottom: 22px;
  }
  &-adress,
  &-phone,
  &-email{
    text-decoration: none;
    color: $footer;
    line-height: 32px;
  }
  &-title{
    margin-bottom: 9px;
    font-size: 16px;
    line-height: 21px;
    @extend %dmsans-700;
  }
  &-link{
    font-size: 14px;
    line-height: 32px;
    text-decoration: none;
    color: $footer;
    @extend %rubik-400;
  }
  &-text{
    padding: 15px 0;
    color: $footer;
  }
  &-form__input{
    width: 170px;
    color: #234969;
    padding: 15px 16px;
    background-color: #fef7f0;
    border: none;
    font-size: 12px;
    &::placeholder{
      color: #234969;
    }
  }
  &-form__btn{
    border: none;
    background-color: #a3bbc8;
    color: #fff;
    padding: 14px 20px 14px 16px;
    cursor: pointer;
  }
}

.footer__bottom{
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  &-copy{
    color: $footer;
    font-size: 14px;
    line-height: 32px;
  }
  &-list{
    display: flex;
    list-style: none;
  }
  &-items + .footer__bottom-items{
    margin-left: 30px;
  }
  &-link{
    text-decoration: none;
    color: $footer;
    font-size: 14px;
    line-height: 32px;
  }
}

.top-slider{
  &__inner{
    background-color: $fon;
  }
  &__item{
    display: flex !important;
    justify-content: space-evenly;
  }
  &__title{
    margin-top: 175px;
    @extend %rubik-500;
    max-width: 500px;
    font-size: 72px;
    line-height: 70px;
    margin-bottom: 40px;
  }
  &__text{
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 30px;
    color: $accent;
    max-width: 370px;
    @extend %rubik-400;
  }
  &__link{
    @extend %btn;
  }
  &__img{
    padding-top: 70px;
  }
  .top-slider__images{
    display: inline;
    padding-left: 60px;
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    li{
      button{
      margin-top: 50px;
      margin-bottom: 50px;
      margin-left: 12px;
      padding: 0;
      font-size: 10px;
      background-color: #fde3cc;
      line-height: 9px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: none;
      color: $default;
      cursor: pointer;
      transition: all .2s;
      &:hover{
        background-color: #fff;
       }
      }
    }
  }
}

.info{
  &__inner{
    background-color: #fef7f0;
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0;
  }
  &__item{
    display: flex;
  }
  &__content{
    margin-left: 25px;
  }
  &__title{
    font-size: 18px;
    line-height: 40px;
    color: #414141;
    @extend %dmsans-700;
  }
  &__text{
    font-size: 16px;
    line-height: 30px;
    color: #585858;
    @extend %dmsans-400;
  }
}

// .products{

// }



@import 'media';
